@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Neuton:200';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #e6ffff, #ffe6ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #e6ffff, #ffe6ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #e6ffff, #ffe6ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #e6ffff, #ffe6ff); /* Standard syntax */
}

h1 {
  font-family: Neuton;
  font-size: 80px;
  color:#6600cc;
}

h3 {
  font-family: Neuton;
  font-size: 20px;
  text-align:center;
  color:#6600cc;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}